

* {
    box-sizing: border-box;
    /* background-color: gray; */
    padding: 5px;
    border: black 5px solid;
    border-radius: 4px;
    border-style: hidden;

    /*border: 2px rebeccapurple solid; /* to show borders. comment out when done. */

}

.container {
    /*background-image: url("..\\images\\bananas.png");*/
}

.col-md-6{
    background-image: url("..\\images\\bananas.png");
}
/* Specific Divs Classes */

#titleDiv {
/* float: left; */
height: 100px;
width: auto;
margin: 0 auto;
background-color: orange;
text-align: center;
color: aliceblue;
font-size: 30px;
}

#instructDiv {
/* float: left; */
height: auto; /*was 100px*/
width: auto; /*was 300px*/
margin: 10px auto;
background-color: #fbe4a7;
color: #1a1a1a;
border: 1px gray groove;
}

.targetNumDiv {
/* float: left; */
height: 100px;
width: 300px;
margin: 0 5px;
background-color: blue;
color: aliceblue;
text-align: center;
font-size: 24px;
font-weight: 700;
}

.winLoss {
    margin: 0 5px;
    background-color: #2ea3a3;
    width: auto;
    color: #1a1a1a;
}

.scoreDiv {
/* float: left; */
height: 100px;
width: 300px;
margin: 0 auto;
background-color: rgb(8, 100, 100);
font-size: 24px;
font-weight: 500;
color: aliceblue;
text-align: center;
}

.gemDiv {
float: left;
height: auto;
width: auto; /* Was set to 300px */
margin: 0 auto;
background-color: white;
}

.imageGemBtn {
height: 100px;
width: 100px;
background-color: white;
}

/* img {
    height: 100px;
    width: 100px;
} */